.landingContainer {
  background-color: #003a70;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 2rem 1rem;
}

#outlined-basic {
  color: white;
  outline-color: white;
  border-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin: 10px;
}
#outlined-basic-label {
  color: white;
}

#demo-simple-select-label {
  color: white !important;
  outline-color: white;
  border-color: white;
}
#demo-simple-select {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  margin: 10px;
}

.logoHeader {
  font-size: 48px;
  font-weight: bold;
}
.instructions {
  height: 80%;
  font-size: 11px;
}
.input-label {
  color: white;
}
