.chatSubmit,
.chatInput,
.chatResponse {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dadChatContainer {
  width: 100%;
  height: 100%;
  color: white;
  padding: 1rem;
}
.inputAndButton {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0.25rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.conversation {
  height: 80%;
  overflow-y: scroll;
  background-color: aliceblue;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 1rem;
}

.budgetTracker {
  width: 100%;
  background-color: rgb(186, 186, 186);
  height: 3rem;
  display: flex;
}
.submitButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  background-color: #008001;
  height: 100%;
}

.addon {
  background-color: yellow;
  height: 100%;
  position: relative;
  transition: width 0.3s ease-in-out;
}

.notification {
  background-color: white;
  color: #003a70;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top:  -20px;
  width: 190px;
}

.userChat {
  background-color: #F5323D;
  margin-left: auto;
  border-radius: 5px 5px 0 5px;
}

.botChat {
  background-color: #00A0DD;
  border-radius: 5px 5px 5px 0;
}

.response {
  display: flex;
  color: white;
  width: 100%;
  margin: 1rem 0;
}
.msgContent {
  padding: 1rem;
  display: inline-block;
  
}
.inputFooter {
  height: 10%;
}
.input {
  width: 80%;
  color: #003a70;
  padding: 1rem;
}

.spin {
  display: block;
  color:#003a70;
  font-size: 30px;
  animation: spin 1s linear infinite;
}
