.landingContainer {
  background-color: #003a70;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 2rem 1rem;
  gap: 22px;
}
body {
  background-color: #003a70;
}

.logoHeader {
  font-size: 48px;
  font-weight: bold;
}
.instructions {
  height: 60%;
  overflow: scroll;
  margin-bottom: 10px;
  font-size: 22px;
}
button {
  background-color: transparent;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 22px;
}
